<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PH | Desenvolvedor</title>
</head>

<body>
    <header>

        <h1>
            Pedro Henrique
        </h1>

        <p>
            Desenvolvedor em formação | Python | Web| Estudante de ADS |
        </p>

        <a href="#projetos" class="btn">
            Ver Projetos
        </a>

    </header>
    
    <nav>
        <a href="#sobre">Sobre</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
    </nav>
    
    <section id="sobre">

        <h2>
            Sobre mim
        </h2>
        <p>
            Estudante de Análise e Desenvolvimento de Sistemas, com foco em desenvolvimento web.
            Tenho facilidade de aprendizado e busco minha primeira oportunidade na área de tecnologia.
        </p>

    </section>

    <section id="projetos">
        <h2>
            Projetos
        </h2>

        <div class="card">
            
            <h3>
                Portifolio Web
            </h3>
            
            <p>
                Site desenvolvido com HTML, CSS e Python (Flask).
            </p>

        </div>

        <div class="card">
            
            <h3>
                Sistema Simples
            </h3>
            
            <p>
                Aplicação em Python para gerenciamento básico de dados.
            </p>

        </div>

    </section>

    <section id="contato">
    <h2>Contato</h2>

    <div class="contato">
        <a href="https://www.linkedin.com/in/pedro-henrique-1a87783b0?utm_source=share_via&utm_content=profile&utm_medium=member_ios" target="_blank">
            <i class="fab fa-linkedin"></i> 
            LinkedIn
        </a>

        <a href="https://github.com/OGGPH" target="_blank">
            <i class="fab fa-github"></i> GitHub
        </a>

        <a href="ph.freitas.silva@icloud.com">
            <i class="fas fa-envelope"></i> Email
        </a>
    </div>
</section>

    <footer>
        <p>© 2026 - PH</p>
    </footer>

</body>

</html>